h1 { 
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:  white  ;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

body {
  font-family: Helvetica, Verdana;
  margin: 0;
  height: 100%;
  width: 100%;
}


.emotify{
  justify-content:center;
  align-items:center;
  display: flex;
  display: block;
  text-align: center;
  height: 100%;
  width: 100%;
}

.photopage{
  display:flex;
  justify-content: center;
  align-items:center;
}

.playerpage{
  display:flex;
  justify-content: center;
  align-items:center;
}


.login{
  align: center;
}

form {
  margin: 20px auto;
  width: 200px
}

input {
  padding: 10px;
  margin: 5px 5px;
}

button {
  padding: 10px 72px;
  margin-top: 5px;
}

.webcam {
  border-radius: 50%;
  border: 10px white;
  height: 50%;
  width: 50%;
  opacity: 0.9;
}

.photopage{
  display:flex;
  justify-content:center;
  align-items: center;
}

.button1{
  background-color: #b0c4de;
  font-weight: bold;
  color: white ;
  border: 2px solid #e0ffff;
  padding: 20px 40px;
  justify-content: center;
  margin-top: 40px;
  opacity: 0.7
}

.button1:hover{opacity: 1}

.buttondiv{
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.header{
  display: inline-block;
}

.playbar{
  opacity: 50;
  height: 200;
  width: 400;
  background-color: white ,
}

#sidebar {
  display: none;
  margin: 150px;
  opacity: 0.5;
}
.cart:hover #sidebar {
  display:block;
  height: 100%;
}

.musicbar{
  opacity: 0.7;
  padding: 20px;
  background-color: white;
  width: 100%
}

h2 {
  display: block;
  font-size: 1em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


